[package]
name = "hemtt"
description = "HEMTT - Arma 3 Build Tool"
version = "1.5.0"
edition = "2021"
license = "GPL-2.0"
authors = ["Brett Mayson <brett@mayson.io>"]

[dependencies]
hemtt-error = { path = "../libs/error", version = "1.0.0" }

hemtt-config = { path = "../libs/config", version = "1.0.0" }
hemtt-pbo = { path = "../libs/pbo", version = "1.0.1" }
hemtt-preprocessor = { path = "../libs/preprocessor", version = "1.0.0" }
hemtt-tokens = { path = "../libs/tokens", version = "1.0.0" }
hemtt-signing = { path = "../libs/signing", version = "1.0.0" }
hemtt-version = { path = "../libs/version", version = "1.0.0" }

ansi_term = "0.12.1"
anyhow = "1.0.71"
atty = "0.2.14"
clap = { workspace = true }
colored = { workspace = true }
dialoguer = "0.10.4"
fs_extra = "1.3.0"
git2 = { workspace = true }
glob = "0.3.1"
num_cpus = "1.15.0"
peekmore = { workspace = true }
rayon = "1.7.0"
reqwest = { version = "0.11.17", features = ["blocking", "json"] }
rhai = "1.14.0"
rust-embed = "6.6.1"
semver = "1.0.17"
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
steamlocate = "2.0.0-alpha.0"
time = "0.3.21"
toml = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.17", features = ["json"] }
vfs = { workspace = true }
walkdir = { workspace = true }
whoami = "1.4.0"
zip = { workspace = true }

[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"
