[package]
name = "hemtt"
description = "HEMTT - Arma 3 Build Tool"
version = "1.9.0"
edition = "2021"
license = "GPL-2.0"
authors = ["Brett Mayson <brett@mayson.io>"]

[lib]
bench = false

[[bin]]
name = "hemtt"
path = "src/main.rs"
bench = false

[dependencies]
hemtt-common = { path = "../libs/common", version = "1.0.0" }

hemtt-config = { path = "../libs/config", version = "1.0.0" }
hemtt-pbo = { path = "../libs/pbo", version = "1.0.1" }
hemtt-preprocessor = { path = "../libs/preprocessor", version = "1.0.0" }
hemtt-signing = { path = "../libs/signing", version = "1.0.0" }

ariadne = { workspace = true }
clap = { workspace = true }
dialoguer = "0.11.0"
fs_extra = "1.3.0"
git2 = { workspace = true }
glob = "0.3.1"
num_cpus = "1.16.0"
peekmore = { workspace = true }
rayon = "1.8.0"
reqwest = { version = "0.11.22", features = ["blocking", "json"] }
rhai = "1.16.2"
rust-embed = "8.0.0"
semver = "1.0.20"
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
steamlocate = "2.0.0-alpha.0"
time = { version = "0.3.30", features = ["formatting"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.17", features = ["json"] }
vfs = { workspace = true }
walkdir = { workspace = true }
whoami = "1.4.1"
zip = { workspace = true }

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.2.1"
winreg = "0.51.0"
