[package]
name = "hemtt"
description = "HEMTT - Arma 3 Build Tool"
version = "1.14.5"
edition = "2024"
license = "GPL-2.0"
authors = ["Brett Mayson <brett@mayson.io>"]
repository.workspace = true

[lints]
workspace = true

[lib]
bench = false

[[bin]]
name = "hemtt"
path = "src/main.rs"
bench = false

[dependencies]
hemtt-common = { path = "../libs/common" }

hemtt-config = { path = "../libs/config" }
hemtt-p3d = { path = "../libs/p3d" }
hemtt-paa = { path = "../libs/paa" }
hemtt-pbo = { path = "../libs/pbo" }
hemtt-preprocessor = { path = "../libs/preprocessor" }
hemtt-signing = { path = "../libs/signing" }
hemtt-sqf = { path = "../libs/sqf" }
hemtt-stringtable = { path = "../libs/stringtable" }
hemtt-workspace = { path = "../libs/workspace" }

arma3-wiki = { workspace = true }
clap = { workspace = true, features = ["derive"] }
dialoguer = "0.11.0"
dirs = { workspace = true }
fs_extra = "1.3.0"
git2 = { workspace = true }
glob = "0.3.2"
image = "0.25.5"
indicatif = "0.17.11"
interprocess = { workspace = true }
num_cpus = "1.16.0"
paste = { workspace = true }
rayon = "1.10.0"
regex = { workspace = true }
reqwest = { version = "0.12.12", features = ["blocking", "json"] }
rhai = "1.21.0"
rust-embed = "8.6.0"
semver = "1.0.26"
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
state = "0.6.0"
supports-hyperlinks = { workspace = true }
tabled = { workspace = true }
terminal-link = { workspace = true }
thiserror = { workspace = true }
time = { version = "0.3.39", features = ["formatting"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.19", features = ["json"] }
vfs = { workspace = true }
walkdir = { workspace = true }
webbrowser = "1.0.4"
whoami = "1.5.2"
zip = { workspace = true }

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.2.1"
winapi = { version = "0.3.9", features = ["winuser"] }
winreg = "0.55.0"

[dev-dependencies]
sealed_test = "1.1.0"
