target/
generated.hpp
map.hpp
*.map
# *.pbo

*.nupkg

# Self Mod
.hemttout
releases/

# VSCode Extension
node_modules
*.vsix

# Browser Extensions
pkg/

# SQF Tests
*.sqfast
*.sqfc
*.sqfp

# Insta Pending Snpashots
*.snap.new

# Cargo Mutants
mutants.*/
