target/
generated.hpp
map.hpp
*.map
*.pbo

*.nupkg

# Self Mod
.hemttout
releases/

# VSCode Extension
node_modules
dist/
*.vsix

# Browser Extensions
pkg/

# SQF Tests
*.sqfast
*.sqfc
*.sqfp

# HLS Build Files
hls/languages/sqf.json
hls/hemtt-language-server
hls/hemtt-language-server.exe

# Cargo Mutants
mutants.*/
