# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

environment:
  global:
    RUST_VERSION: stable
    CRATE_NAME: hemtt
    OPENSSL_STATIC: 1
    OPENSSL_LIBS: "libssl_static:libcrypto_static"

  matrix:
    # MinGW
    # - TARGET: i686-pc-windows-gnu
    # - TARGET: x86_64-pc-windows-gnu

    # MSVC
    - TARGET: i686-pc-windows-msvc
      OPENSSL_DIR: "C:\\OpenSSL-v111-Win32"
    - TARGET: x86_64-pc-windows-msvc
      OPENSSL_DIR: "C:\\OpenSSL-v111-Win64"

    # Testing other channels
    # - TARGET: x86_64-pc-windows-gnu
    #   RUST_VERSION: nightly
    # - TARGET: x86_64-pc-windows-msvc
    #   RUST_VERSION: nightly

install:
  - ps: >-
      If ($Env:TARGET -eq 'x86_64-pc-windows-gnu') {
        $Env:PATH += ';C:\msys64\mingw64\bin'
      } ElseIf ($Env:TARGET -eq 'i686-pc-windows-gnu') {
        $Env:PATH += ';C:\msys64\mingw32\bin'
      }
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET% --default-toolchain %RUST_VERSION%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -Vv
  - cargo -V

test_script:
  - ps: ci\version.ps1

  - if [%APPVEYOR_REPO_TAG%]==[false] (
      cargo build --target %TARGET% &&
      cargo build --target %TARGET% --release
    )
  # revert below before merge
  - "C:\\Program Files (x86)\\Inno Setup 5\\issc.exe" ci\wininstaller.iss

artifacts:
  - path: target\%TARGET%\debug\hemtt.exe
  - path: target\%TARGET%\release\hemtt.exe

before_deploy:
  - cargo rustc --target %TARGET% --release --bin hemtt -- -C lto
  - "C:\\Program Files (x86)\\Inno Setup 5\\issc.exe" ci\wininstaller.iss
  - ps: ci\before_deploy.ps1

deploy:
  artifact: /.*\.zip/
  auth_token:
    secure: bh+7SLNiPo3LZohX5qJ+f/xhGJArnvMVJ/g+93VMhy1P+cGh12OuBSgjgB6nJ+Fj
  description: ''
  on:
    RUST_VERSION: stable
    appveyor_repo_tag: true
  provider: GitHub

cache:
  - C:\Users\appveyor\.cargo\registry
  - target

branches:
  only:
    # Release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  - provider: Email
    on_build_success: false

# Building is done in the test phase, so we disable Appveyor's build phase.
build: false
