[workspace]
members = [
    "bin",

    # "hls",

    "libs/common",
    "libs/config",
    "libs/lzo",
    "libs/p3d",
    "libs/paa",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
    "libs/sqf",
    "libs/workspace",
]
resolver = "2"

[workspace.lints.clippy]
all = "deny"
nursery = "deny"
pedantic = "warn"
unwrap_used = "deny"

[workspace.lints.rust]
future_incompatible = "warn"
nonstandard_style = "warn"

[workspace.dependencies]
byteorder = "1.5.0"
chumsky = "0.9.3"
clap = "4.5.3"
git2 = "0.18.3"
indexmap = "2.2.6"
lsp-types = "0.95.1"
paste = "1.0.14"
peekmore = "1.3.0"
pest = "2.7.8"
pest_derive = "2.7.8"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
sha-1 = "0.10.1"
strsim = "0.11.0"
thiserror = "1.0.58"
toml = "0.8.12"
tracing = { version = "0.1.40", features = ["attributes"] }
vfs = "0.12.0"
walkdir = "2.5.0"
zip = "0.6.6"

[profile.bench]
lto = true

# [profile.release]
# debug = true
