[workspace]
members = [
    "bin",

    "libs/arma",
    "libs/config",
    "libs/error",
    "libs/io",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
    "libs/tokens",
    "libs/version",

    "arma",
]

[workspace.dependencies]
clap = "4.3.3"
colored = "2.0.0"
git2 = "0.17.2"
interprocess = "1.2.1"
peekmore = "1.3.0"
pest = "2.6.0"
pest_derive = "2.6.0"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.96"
sha-1 = "0.10.1"
toml = "0.7.4"
tracing = { version = "0.1.37", features = ["attributes"] }
vfs = "0.9.0"
walkdir = "2.3.3"
zip = "0.6.6"

[profile.bench]
lto = true

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
