[workspace]
members = [
    "bin",

    "hls",

    "libs/arma",
    "libs/config",
    "libs/error",
    "libs/io",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
    "libs/version",
]

[workspace.dependencies]
ariadne = "0.3.0"
byteorder = "1.4.3"
clap = "4.3.19"
git2 = "0.17.2"
lsp-types = "0.94.0"
peekmore = "1.3.0"
pest = "2.7.1"
pest_derive = "2.7.1"
serde = { version = "1.0.174", features = ["derive"] }
serde_json = "1.0.103"
sha-1 = "0.10.1"
toml = "0.7.6"
tracing = { version = "0.1.37", features = ["attributes"] }
vfs = "0.9.0"
walkdir = "2.3.3"
zip = "0.6.6"

[profile.bench]
lto = true
