[package]
name = "hemtt"
version = "0.5.0"
authors = ["Brett <brett@bmandesigns.com>"]
edition = "2018"

[dependencies]
armake2 = { git = "https://github.com/KoffeinFlummi/armake2", branch="master" }
colored = "1.7"
docopt = "1"
pbr = "1.0"
reqwest = "0.9"
self_update = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.3.1"
walkdir = "2.2"
rayon = "1.0"
num_cpus = "1.10"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.11"
winreg = "0.5"
