[workspace]
members = [
    "bin",

    # "hls",

    "libs/common",
    "libs/config",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
]
resolver = "2"

[workspace.dependencies]
ariadne = "0.3.0"
byteorder = "1.5.0"
clap = "4.4.7"
git2 = "0.18.1"
lsp-types = "0.94.1"
peekmore = "1.3.0"
pest = "2.7.5"
pest_derive = "2.7.5"
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.108"
sha-1 = "0.10.1"
toml = "0.8.6"
tracing = { version = "0.1.40", features = ["attributes"] }
vfs = "0.10.0"
walkdir = "2.4.0"
zip = "0.6.6"

[profile.bench]
lto = true
