[workspace]
members = [
    "bin",

    # "hls",

    "libs/common",
    "libs/config",
    "libs/lzo",
    "libs/paa",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
    "libs/sqf",
]
resolver = "2"

[workspace.dependencies]
ariadne = "0.3.0"
byteorder = "1.5.0"
chumsky = "0.9.3"
clap = "4.4.11"
git2 = "0.18.1"
lsp-types = "0.95.0"
peekmore = "1.3.0"
pest = "2.7.5"
pest_derive = "2.7.5"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
sha-1 = "0.10.1"
strsim = "0.10.0"
thiserror = "1.0.51"
toml = "0.8.8"
tracing = { version = "0.1.40", features = ["attributes"] }
vfs = "0.10.0"
walkdir = "2.4.0"
zip = "0.6.6"

[workspace.lints.clippy]
all = "deny"
nursery = "deny"
pedantic = "warn"

[profile.bench]
lto = true
