[package]
name = "hemtt"
version = "0.6.2"
authors = ["Brett <brett@bmandesigns.com>"]
edition = "2018"

[dependencies]
armake2 = { git = "https://github.com/KoffeinFlummi/armake2", branch = "master" }
chrono = "0.4"
colored = "1.8"
docopt = "1"
git2 = "0.9"
glob = "0.3"
handlebars = "1.1"
num_cpus = "1.10"
pbr = "1.0"
rayon = "1.1"
regex = "1.1"
reqwest = "0.9"
self_update = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.3"
subprocess = "0.1"
toml = "0.5"
walkdir = "2.2"
zip = { git = "https://github.com/jonpas/zip-rs", branch = "flate2", features = ["deflate"] }

[target.'cfg(windows)'.dependencies]
ansi_term = "0.11"
winreg = "0.6"
