[workspace]
members = [
    "bin",

    # "hls",

    "libs/common",
    "libs/config",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
]
resolver = "2"

[workspace.dependencies]
ariadne = "0.3.0"
byteorder = "1.5.0"
clap = "4.4.6"
git2 = "0.18.1"
lsp-types = "0.94.1"
peekmore = "1.3.0"
pest = "2.7.4"
pest_derive = "2.7.4"
serde = { version = "1.0.189", features = ["derive"] }
serde_json = "1.0.107"
sha-1 = "0.10.1"
toml = "0.8.2"
tracing = { version = "0.1.39", features = ["attributes"] }
vfs = "0.10.0"
walkdir = "2.4.0"
zip = "0.6.6"

[profile.bench]
lto = true
