[package]
name = "hemtt"
version = "0.7.6"
authors = ["Brett Mayson <brett@mayson.io>"]
edition = "2018"

[dependencies]
armake2 = {git = "https://github.com/synixebrett/armake2", branch = "restructure", default_features = false}
bisign = {git = "https://github.com/synixebrett/bisign"}
chrono = "0.4"
clap = "2.33"
colored = "1.9"
config = "0.10"
dialoguer = "0.5"
docopt = "1"
dyn-clone = "1.0"
fs_extra = "1.1"
git2 = "0.13"
glob = "0.3"
handlebars = "3.1"
lazy_static = "1.4"
linked-hash-map = "0.5"
num_cpus = "1.13"
question = "0.2"
rayon = "1.3"
regex = "1.3"
reqwest = "0.10"
rlua = "0.17"
self_update = "0.15"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.4"
strum = "0.18"
strum_macros = "0.18"
subprocess = "0.2"
toml = "0.5"
walkdir = "2.3"
webbrowser = "0.5"
zip = "0.5"
indicatif = "0.14"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.12"
winreg = "0.7"
