[workspace]
members = [
    "bin",

    # "hls",

    "libs/common",
    "libs/config",
    "libs/lzo",
    "libs/paa",
    "libs/pbo",
    "libs/preprocessor",
    "libs/signing",
    "libs/sqf",
]
resolver = "2"

[workspace.dependencies]
byteorder = "1.5.0"
chumsky = "0.9.3"
clap = "4.4.18"
git2 = "0.18.1"
lsp-types = "0.95.0"
peekmore = "1.3.0"
pest = "2.7.6"
pest_derive = "2.7.6"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
sha-1 = "0.10.1"
strsim = "0.11.0"
thiserror = "1.0.56"
toml = "0.8.9"
tracing = { version = "0.1.40", features = ["attributes"] }
vfs = "0.10.0"
walkdir = "2.4.0"
zip = "0.6.6"

[workspace.lints.clippy]
all = "deny"
nursery = "deny"
pedantic = "warn"

[profile.bench]
lto = true

[profile.release]
debug = true
