.wl-banner {
  background-color: color-mix(in srgb, var(--bg), #777 20%);
  color: var(--fg);
  margin-bottom: -16px;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.wl-banner > span:not(.wl-icon) {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.wl-banner > span.wl-filepath {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
