name: Build

on:
  push:
    branches: [ main ]
    tags:
    - v1.*
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: linux-x64
            exe: hemtt
          - os: windows-latest
            name: windows-x64
            exe: hemtt.exe
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v1
        with:
          key: build
      - name: Compile
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.name }}
          path: target/release/${{ matrix.exe }}
  mods:
    name: Mods / ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Advanced Combat Environment
            repo: acemod/ACE3
            path: ace3
            commit: d87e16e87ecf2db9429b19f5ac4cf06bab7aaad6
          - name: POTATO
            repo: BourbonWarfare/POTATO
            path: potato
            commit: fab121ce624b6656dd7afd2d29429aa762b28813
    steps:
      - name: Download Linux x64
        uses: actions/download-artifact@v2
        with:
          name: linux-x64
          path: hemtt
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: ${{ matrix.repo }}
          path: ${{ matrix.path }}
          ref: ${{ matrix.commit }}
      - name: Build
        run: |
          cd ${{ matrix.path }} && ../hemtt/hemtt dev
  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download Linux x64
        uses: actions/download-artifact@v2
        with:
          name: linux-x64
          path: release

      - name: Download Windows x64
        uses: actions/download-artifact@v2
        with:
          name: windows-x64
          path: release

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/*
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
