name: Build

on:
  push:
    branches: [main]
    tags:
      - v*
  pull_request:
    branches: [main]

jobs:
  build:
    name: ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.runner }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - runner: ubuntu-latest
            name: ubuntu
            artifact: linux-x64
            exe: hemtt
          - runner: windows-latest
            name: windows
            artifact: windows-x64
            exe: hemtt.exe
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: echo "RELEASE=true" >> $GITHUB_ENV
        if: startsWith(github.ref, 'refs/tags/') && matrix.os.name == 'ubuntu'
      - run: echo "RELEASE=true" >> $env:GITHUB_ENV
        if: startsWith(github.ref, 'refs/tags/') && matrix.os.name == 'windows'
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: build
      - name: Compile
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os.artifact }}
          path: target/release/${{ matrix.os.exe }}

  mods:
    name: ${{ matrix.os.name }} / ${{ matrix.mod.repo }}
    runs-on: ${{ matrix.os.runner }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        os:
          - runner: ubuntu-latest
            name: ubuntu
            artifact: linux-x64
          - runner: windows-latest
            name: windows
            artifact: windows-x64
        mod:
          - repo: CBATeam/CBA_A3
            commit: 92203045326d5aa8cfb0e5169d17a99e3e8fd009
          - repo: acemod/ACE3
            commit: 464ab0cefb5714a7d404ca7923fb1e19abd74556
          # - repo: ArmaForces/Mods
          - repo: jonpas/ArmaForces_Mods
            commit: ab8530d5aa19787c2fcecd4234519dbfd43c80e2
          - repo: Theseus-Aegis/Mods
            commit: a1307e6a7959778930ce40d930cfb29a32901fbc
          - repo: SynixeContractors/Mod
            commit: dc895a0b1e28a3d7f5e43cfe95b3d325ab5d77ac
    steps:
      - name: Download HEMTT
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.os.artifact }}
          path: hemtt
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.mod.repo }}
          path: mod
          ref: ${{ matrix.mod.commit }}
      - name: Install Linux
        if: startsWith(matrix.os.runner, 'ubuntu')
        run: |
          cd hemtt && cp hemtt /usr/local/bin/hemtt && chmod +x /usr/local/bin/hemtt
      - name: Install Windows
        if: startsWith(matrix.os.runner, 'windows')
        run: |
          cd hemtt && copy hemtt.exe C:\Windows\System32\hemtt.exe
      - name: Run `hemtt dev` on ${{ matrix.mod.repo }}
        run: |
          cd mod && hemtt dev
      - name: Install Arma 3 Tools
        if: startsWith(matrix.os.runner, 'windows')
        uses: arma-actions/arma3-tools@master
        with:
          toolsUrl: ${{ secrets.ARMA3_TOOLS_URL }}
      - name: Run `hemtt build` on ${{ matrix.mod.repo }}
        run: |
          cd mod && hemtt build

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Linux x64
        uses: actions/download-artifact@v4
        with:
          name: linux-x64
          path: release

      - name: Download Windows x64
        uses: actions/download-artifact@v4
        with:
          name: windows-x64
          path: release

      - name: Zip Linux x64
        run: |
          cd release && zip linux-x64.zip hemtt && rm hemtt

      - name: Create Release Version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Pack for Chocolatey
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: pack .github/choco/hemtt.nuspec --version ${{ env.VERSION }} --outputdirectory release

      - name: Zip Windows x64
        run: |
          cd release && zip windows-x64.zip hemtt.exe && rm hemtt.exe

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/*
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  chocolatey:
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Download NuGet Package
        uses: robinraju/release-downloader@v1.8
        with:
          releaseId: ${{ env.VERSION }}
          fileName: '*.nupkg'
      - name: Push to Chocolatey
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: push --source "https://push.chocolatey.org/" --api-key ${{ secrets.CHOCOLATEY_API_KEY }}

  winget:
    needs:
      - release
    runs-on: windows-latest
    steps:
      # Requires forked winget-pkgs: https://github.com/microsoft/winget-pkgs to the same account as this project
      - name: Submit to WinGet
        uses: vedantmgoyal2009/winget-releaser@v2
        with:
          identifier: BrettMayson.HEMTT
          installers-regex: 'windows-x64.zip'
          token: ${{ secrets.WINGET_TOKEN }} # Classic Personal Access Token with [public_repo, workflow] scopes
