name: Coverage

permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  coverage:
    name: ${{ matrix.os.name }} / tests
    runs-on: ${{ matrix.os.runner }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - runner: ubuntu-latest
            name: ubuntu
          - runner: windows-latest
            name: windows
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: cargo install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        uses: actions-rs/cargo@v1
        with:
          command: generate-lockfile
      - name: Install Arma 3 Tools
        if: startsWith(matrix.os.runner, 'windows')
        uses: arma-actions/arma3-tools@master
        with:
          toolsUrl: ${{ secrets.ARMA3_TOOLS_URL }}
      - name: cargo llvm-cov
        run: cargo llvm-cov --locked --all-features --lcov --output-path out.lcov
      - name: Upload Coverage to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: out.lcov


  codecov:
    name: codecov
    runs-on: ubuntu-latest
    needs: coverage
    steps:
      - name: Download Coverage from GitHub Artifacts
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: out.lcov
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          files: out.lcov
          fail_ci_if_error: true
