name: Mods

on:
  workflow_run:
    workflows: ["Build"]
    tags:
      - v*
    types:
      - completed

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Download Linux x64
        uses: actions/download-artifact@v3
        with:
          name: linux-x64
          path: release

      - name: Download Windows x64
        uses: actions/download-artifact@v3
        with:
          name: windows-x64
          path: release

      - name: Zip Linux x64
        run: |
          cd release && zip linux-x64.zip hemtt && rm hemtt

      - name: Zip Windows x64
        run: |
          cd release && zip windows-x64.zip hemtt.exe && rm hemtt.exe

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/*
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
